<%= form_for(@teacher_career) do |f| %>
  <% if @teacher_career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_career.errors.count, "error") %> prohibited this teacher_career from being saved:</h2>

      <ul>
      <% @teacher_career.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.number_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :career_id %><br>
    <%= f.text_field :career_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
