<p id="notice"><%= notice %></p>

<h1>Listing Teacher Subjects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_subjects.each do |teacher_subject| %>
      <tr>
        <td><%= link_to 'Show', teacher_subject %></td>
        <td><%= link_to 'Edit', edit_teacher_subject_path(teacher_subject) %></td>
        <td><%= link_to 'Destroy', teacher_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher subject', new_teacher_subject_path %>
