<%= form_for(@career) do |f| %>
  <% if @career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@career.errors.count, "error") %> prohibited this career from being saved:</h2>

      <ul>
      <% @career.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity_credits %><br>
    <%= f.number_field :quantity_credits %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :semester %><br>
    <%= f.number_field :semester %>
  </div>
<!--  <%= fields_for( :subject, @subject ) do |s|  %>
  <div class="field">
    <%= s.label :subject %><br>
    <%= s.collection_select :subject_id, Subject.all, :id, :name %>
  </div>
  <% end %>
    <%= fields_for( :teacher, @teacher ) do |t|  %>
        <div class="field">
          <%= t.label :teacher %><br>
          <%= t.collection_select :teacher_id, Teacher.all, :id, :full_name %>
        </div>
    <% end %>-->
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
